.entry-div {
	position: fixed;
	top: 0;
	left: 0;
	background-color: #cecece70;
	padding: 1rem;
	width: 100%;
	height: 100%;
}

.entry-form {
	background-color: white;
	padding: 1rem;
	max-width: 50%;
	margin: auto;
	margin-top: 15%;
	box-shadow: -2px 5px 5px #35353570;
}

.field {
	display: grid;
	grid-template-columns: 200px 300px;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.editor-container {
	display: grid;
	grid-template-columns: auto auto;
	padding: 1rem;
}

.editor-audio,
.editor-definitions {
	padding: 1rem 0
}

.back-button {
	padding: 3rem 0;
}

.display-images {
	padding: 5rem 0 0 0;
}

.definition {
	padding: 1rem;
	background-color: lightgrey;
	margin: .1rem 0;
}

.image-item {
	display: flex;
	align-items: flex-end;
	padding: .5rem;
}

img {
	width: 250px;
}